<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🔥 إذن الإنترنت -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- ✅ Android 13+: إذن الإشعارات -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- ✅ Android 12+: للسماح بالجدولة الدقيقة -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

</manifest>
